NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_ROUTER_ADDRESS=CD2D5ZP5XY7VB7ZZUUZVD46FB4BZN3UJLRAOMSN52ZZKQVSFWTQRPCY2
NEXT_PUBLIC_FACTORY_ADDRESS=CAKPZ6T2EVS3UQQ2ULYRKTGSOCMGIWTWHGHV5NBHH63DVCQLVGVCRIZV
